---
import { ClientRouter } from 'astro:transitions';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <ClientRouter fallback="none" />
  </head>
  <body
    class="dark flex flex-col min-h-screen bg-fd-background"
  >
    <slot />
  </body>
</html>
